################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/StudentObjects/v15/Server/sqlite3
/StudentObjects/bin/Debug
